

mat-toolbar{
    font-size: 20;
    color:blueviolet; 
    text-align: center;
    display:flex;
    justify-content: center;
}
.tp-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;


 }
 .tp-full-width {
    width: 100%;
    color:pink;
 }
 .lookingFor{
     padding: 10px;
   background-color: black;
   width:50%;
   
 }
 .Have{
    padding: 10px;
  background-color: black;
  width:50%;
  
}
.containSearch{
    display:flex;
    
}