<div class ="containSearch" > 
  
    <div class = "lookingFor" > 
        <h4>What I am Looking for </h4>
        <mat-form-field>
          <mat-label>CardType</mat-label>
          <mat-select>
            <mat-option *ngFor="let options of options" [value]="options">
              {{options}}
            </mat-option>
            </mat-select>
        </mat-form-field>
    <!-- <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="What I am looking for" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" input #newHero
        (keyup.enter)="addHero(newHero.value)"
        (blur)="addHero(newHero.value); newHero.value='' ">
        <ul><li *ngFor="let hero of heroes">{{hero}} 
          
        </li></ul>
      
        

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
    </form>
     -->
   
  
    </div>
    
    <div class = "Have" > 
        <h4>What I Want </h4>
        <mat-form-field>
          <mat-label>CardType</mat-label>
          <mat-select>
            <mat-option *ngFor="let options of options " [value]="options">
              {{options}}
            </mat-option>
            </mat-select>
        </mat-form-field>
      <!-- <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="What I have " aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" input #newHave
          (keyup.enter)="addHave(newHave.value)"
          (blur)="addHave(newHave.value);newHave.value='' ">


          <ul><li *ngFor="let Have of have">{{Have}}</li></ul>

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      </div> -->
    </div>
    





