<mat-card *ngIf='options'>
  <mat-card-content>
    <form class="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>What I have</mat-label>
        <mat-select formControlName="acceptedAccTypes">
          <mat-option *ngFor="let options of options" [value]="options">
            {{options}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>What I Want</mat-label>
        <mat-select formControlName="accType">
          <mat-option *ngFor="let options of options " [value]="options">
            {{options}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="submit">Search</button> 
    </form>
  </mat-card-content>
</mat-card>


<div *ngIf="results">
  <app-listing-detail *ngFor="let result of results" [listing]="result"></app-listing-detail>
</div>