<mat-toolbar class="toolbar">
    <div class="logo" [routerLink]="['']">Giftcard Exchange</div>

    <div class="NavButtons">
        <div class="Create-Button">
            <!--Center-->
            <button mat-raised-button color="primary" [routerLink]="['/listing/create']">
                Create Listing!
            </button>
        </div>
        <div class="Search-Button">
            <!--Right bound-->
            <button mat-raised-button color="primary" [routerLink]="['/listing/search']">
                Search Listing!
            </button>
        </div>
        <div class="Search-Button">
            <!--Right bound-->
            <button mat-raised-button color="primary" [routerLink]="['/account/create']">
                Register Card!
            </button>
        </div>
    </div>
    <div class="login">
        <app-google></app-google>
    </div>
    <!--login-->
</mat-toolbar>