.sideNav-container {
    position: absolute;
    top: 9%;
    bottom: 0%;
    left: 0;
    right: 90%;

    display: flex; 

    flex-direction: column;
    align-items: center;

  }
  .toolbar {
    position: relative;

    background-color: rgb(1, 132, 255);
  }

  .sideNavText {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 212, 149);

}
